body {
  font-family: Avenir;
}

.container {
  display: flex;
  justify-content: center
}

.bar {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

button {
  display: inline-block;
  margin: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #000000;
  background-color: #ffe2e2;
}

button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

button:hover {
  color: #000000;
  background-color: #ead0d0;
}
h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

div {
  margin-bottom: 0.5em;
}